body {
  background-color: rgb(209, 209, 209);
  font-family: monospace;
  margin: 0;
}

button {
  background-color: rgb(42, 42, 42);
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 5px black;
  color: white;
  display: inline-block;
  font-family: monospace;
  font-size: 20px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

button:hover {
 background-color: rgb(89, 136, 193);
}

input {
  border: 0;
  border-radius: 2px;
  display: inline-block;
  font-family: monospace;
  height: 35px;
  margin-right: 5px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

.login {
  display: block;
  float: right;
  margin: auto 0;
  text-align: center;
}

.text-center {
  text-align: center;
}
