select {
  background-color: rgb(42, 42, 42);
  border: 0;
  box-shadow: 0 2px 5px black;
  color: white;
  font-size: 20px;
  height: 30px;
  margin: 10px;
  vertical-align: middle;
  width: 140px;
}

select:hover {
 background-color: rgb(89, 136, 193);
}

.fetch-form {
  margin: 20px;
  text-align: center;
}

.fetch-form button {
  margin: 10px;
}
